@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: orange;
  color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

.highlight-line {
  @apply bg-yellow-500 bg-opacity-20;
  border-left: 4px solid orange;
  margin-right: -1em;
  margin-left: -0.3em;
}

.title:hover > .paperclip {
  display: flex;
}
